.title{
    text-align: center;
    margin: 200px 100px 50px 100px;
}
.subtitle{
    margin: 100px 50px 50px 50px;
    text-align: center;
}

.button-class{
    margin:  100px 100px 100px 100px;
}

.img-class{
    margin: 0px -10px 16px 60px;
    text-emphasis-color: black;
}

.span-class{
    margin: 30px 0px 30px 40px;
}

.class-container{
    font-family: 'Lucida Sans';
    font-size: 3.5rem;
    position: relative;
}

.a-class{
    margin: 0px 0px 0px;
    color:#a74c25"; 
}
